lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.tsbuildinfo
.eslintcache

bundle_stats.json
pids
logs
results
tmp

node_modules/
.yarn/
**/local.json
**/*/.env.local
local.sqlite

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

dist/
